* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;

}

header {
    height: 20%;
    width: 100%;
    position: relative;
    background-color: #143b74;

}

.header-line {
    height: 10px;
    width: 100%;
    background-color: #4f94be;
    position: absolute;
    opacity: 0.2;
}

.one {
    border: 2px solid white;
    bottom: 0;
}

.two {
    border: 2px solid white;
    bottom: 10px;
}

.three {
    border: 2px solid white;
    top: 0;
}

.MembersLogin {

}

main {
    height: 70%;
    width: 100%;
    background-color: white;

}

.login {
    position: absolute;
    margin-left: 48%;
    margin-top: 2%;
    text-decoration: underline;
    font: 15pt "Book Antiqua";

}

.mail {
    position: absolute;
    margin-top: 6%;
    margin-left: 25%;
    font: 13pt "Palatino Linotype";
}

.Password {
    position: absolute;
    margin-top: 10%;
    margin-left: 25%;
    font: 15pt "Book Antiqua";
}

.BottomLineMail {
    position: absolute;
    margin-top: 8%;
    margin-left: 25%;
    font: 8pt "Palatino Linotype";
}

.inputLogin {
    position: absolute;
    margin-top: 8%;
    margin-left: 50%;
}

.inputPassword {
    position: absolute;
    margin-top: 11.5%;
    margin-left: 50%;
}

.Flag {
    position: absolute;
    margin-top: 15%;
    margin-left: 50%;
    font: 13pt "Book Antiqua";
}

.Button {
    position: absolute;
    margin-top: 20%;
    margin-left: 50%;
}

.ForgotPassword {
    position: absolute;
    margin-top: 25%;
    margin-left: 45%;
    font: 13pt "Book Antiqua";
}

footer {
    height: 10%;
    width: 100%;
    background-color: white;
    position: absolute;
}

.DigitalAccess {
    margin-top: 3%;
    margin-left: 35%;
    font: 14pt "Times New Roman";
}
